<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.electric.ec.online">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/full_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ECOnline"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.enter.EnterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.request.RequestActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basket.BasketActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invoice.InvoiceTableActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invoice.InvoiceDetailsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.info.InfoActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pdf.PdfActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="android.test.runner"
            android:required="false" />

    </application>

</manifest>