<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.electric.ec.online">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/full_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ECOnline"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".views.SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.EnterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.MenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.RequestActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.SearchActivity"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name=".views.BasketActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.InvoiceTableActivity"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name=".views.InvoiceDetailsActivity"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name=".views.InfoActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
    </application>

</manifest>