<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="club.plus1.ec_online">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/full_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ECOnline"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="club.plus1.ec_online.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="club.plus1.ec_online.view.EnterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="club.plus1.ec_online.view.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="club.plus1.ec_online.view.RequestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="club.plus1.ec_online.view.RequestsTableActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="club.plus1.ec_online.view.RequestsBasketActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="club.plus1.ec_online.view.InvoiceTableActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="club.plus1.ec_online.view.InvoiceDetailsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>